* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1e3c;
}

.game-title {
  text-align: center;
  margin: 40px;
  color: #e8d3c8;
  letter-spacing: 0.9px;
}

.container {
  width: 330px;
  margin: 0 auto;
  padding: 20px;
  background-color: #272a57;
  border-radius: 8px;
  box-shadow: 0 0 10px #6061bd;
}

.menu {
  margin-bottom: 20px;
  color: #e8d3c8;
  letter-spacing: 0.9px;
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.new-game {
  width: 90px;
  height: 34px;
  background-color: #43478f;
  border: 2px solid #272a57;
  border-radius: 5px;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px, 0 0 10px #6061bd;
  font-size: 14px;
  text-align: center;
  line-height: 29px;
  transition: 0.4s;
}

.new-game:hover {
  cursor: pointer;
  background-color: #daa78cd0;
  box-shadow: 0 0 10px #6061bd;
}

.new-game:active {
  cursor: pointer;
  background-color: #9c9ed4;
  color: #1a1b54;
  box-shadow: inset #444775d5 2px 2px 4px, inset #7c7fc0d5 -2px -2px 4px, #444775d5 -2px -2px 4px -2px, 0 0 10px #6061bd;
}

.difficulty {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.difficulty__easy,
.difficulty__medium,
.difficulty__hard {
  width: 75px;
  height: 25px;
  background-color: #43478f;
  border: 2px solid #272a57;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  transition: 0.4s;
}

.difficulty__easy:hover,
.difficulty__medium:hover, 
.difficulty__hard:hover {
  cursor: pointer;
  background-color: #daa78cd0;
  box-shadow: 0 0 10px #6061bd;
}

.difficulty__easy:active,
.difficulty__medium:active, 
.difficulty__hard:active, 
.difficulty__easy.active,
.difficulty__medium.active, 
.difficulty__hard.active {
  cursor: pointer;
  background-color: #9c9ed4;
  color: #1a1b54;
  box-shadow: 0 0 10px #6061bd;
}

.mines-quantity {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  color: #e8d3c8;
  letter-spacing: 0.9px;
}

.info__clicks,
.info__timer,
.info__flags {
  display: flex;
  justify-content: space-around;
  width: 55px;
  height: 28px;
  padding: 4px 6px;
  color: #000000;
  background-color: #daa78c;
  border-radius: 4px;
  line-height: 22px;
  background: #daa78c radial-gradient(circle at 0 0, #daa78cca, #daa78ccc);
  box-shadow: inset #50392cde 2px 2px 4px, inset #7c5441dc -2px -2px 4px, #50392cde -2px -2px 4px -2px;
}

.info__timer {
  width: 110px;
}

.icon {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat, repeat;
  background-size: 20px 20px;
}

.clicks__icon {
  background-image: url('../assets/img/click.png');
}

.timer__icon {
  background-image: url('../assets/img/time.png');
}

.flags__icon {
  background-image: url('../assets/img/mine.png');
  background-position: 0px 1px;
}

.game__field-container {
  background-color: #1a1b54;
  border: 2px solid #1a1b54;
  box-shadow: 0 0 10px #5759b0;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 183px;
  margin: 0 auto;
}

.game__field {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 auto;
}

.cell {
  width: 18px;
  height: 18px;
  font-size: 13px;
  background-color: #43478f;
  border-radius: 2px;
  border: 1px solid #1a1b54;
  text-align: center;
  line-height: 18px;
  font-weight: 600;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px;
  transition: background-color 0.4s;
}

.cell:hover {
  cursor: pointer;
  background-color: #daa78cd0;
}

.cell:active {
  cursor: pointer;
  background-color: #9c9ed4;
  box-shadow: inset #444775d5 2px 2px 4px, inset #7c7fc0d5 -2px -2px 4px, #444775d5 -2px -2px 4px -2px;
}

.cell.opened {
  background: #6464a5 radial-gradient(circle at 0 0, #ffffff37, #ffffff3b);
  box-shadow: inset #616494d5 2px 2px 4px, inset #9598cbd5 -2px -2px 4px, #585b8bd5 -2px -2px 4px -2px;
}

.cell.flag {
  background-color: #daa78c;
  background-image: url('../assets/img/flag.png');
  background-repeat: no-repeat, repeat;
  background-size: 12px 12px;
  background-position: 3px 2px;
  cursor: auto;
}

.cell.flag:active {
  cursor: auto;
  background-color: #daa78c;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px;
}

.cell.danger-1.opened {
  background-color: #5380e1b8;
}

.cell.danger-2.opened {
  background-color: #42b697b5;
}

.cell.danger-3.opened {
  background-color: #41c3449f;
}

.cell.danger-4.opened {
  background-color: #c9b929ce;
}

.cell.danger-5.opened {
  background-color: #df8b32cb;
}

.cell.danger-6.opened {
  background-color: #d932d6ac;
}

.cell.danger-7.opened {
  background-color: #c24479c5;
}

.cell.danger-8.opened {
  background-color: #ba1414cd;
}

.cell.mined.opened {
  background-color: #b30101c7;
  background-image: url('../assets/img/mine.png');
  background-repeat: no-repeat, repeat;
  background-size: 16px 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9a89c6e7;
  border-radius: 6px;
}

.close {
  width: 20px;
  height: 20px;
  background-image: url('../assets/svg/modal-icon.svg');
  background-repeat: no-repeat, repeat;
  background-size: 20px 20px;
  margin: 8px;
  float: right;
}

.close:hover {
  cursor: pointer;
}

.modal-text {
  text-align: center;
  margin-top: 60px;
  font-size: 28px;
  font-weight: 700;
}

.mines-quantity {
  width: 70%;
  margin: 0 auto;
}

.mines-quantity__slider {
  width: 70%;
  height: 8px;
  background: #6061bd;
  border-radius: 6px;
  opacity: 0.8;
  outline: none;
  appearance: none;
  transition: opacity 0.3s;
}

.mines-quantity__slider:hover {
  cursor: pointer;
  opacity: 1;
  background: #9c9ed4;
  box-shadow: 0 0 8px #6061bd;
}

.mines-quantity__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px, 0 0 10px #6061bd;
}

.mode {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat, repeat;
  background-size: 26px 26px;
  background-position: 3px 3px;
  background-image: url('../assets/img/mode-white.png');
  border: 1px solid #272a57;
  border-radius: 50%;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px, 0 0 10px #6061bd;
  transition: 0.3s;
}

.mode:hover {
  cursor: pointer;
  background-color: #daa78cd0;
  box-shadow: 0 0 8px #6061bd;
}

.mode:active {
  cursor: pointer;
  background-color: #9c9ed4;
  box-shadow: inset #444775d5 2px 2px 4px, inset #7c7fc0d5 -2px -2px 4px, #444775d5 -2px -2px 4px -2px, 0 0 10px #6061bd;
}

.body.light-mode {
  background-color: #d2c5dd;
}

.game-title.light-mode {
  color: #1c1e3c;
}

.container.light-mode {
  background-color: #c2abd3;
  box-shadow: 0 0 10px #9b7dad;
}

.menu.light-mode {
  color: #381865;
}

.new-game.light-mode {
  background-color: #dcbeee;
  border: 2px solid #7e4e9a;
  box-shadow: inset #bcbcbc5c -3px -3px 8px, inset #dcdcdc3a 2px 2px 4px, #c8c8c85c 3px 3px 8px -3px, 0 0 10px #79548e;
}

.new-game.light-mode:hover {
  background-color: #f8e2d6;
  box-shadow: 0 0 10px #9b7dad;
}

.new-game.light-mode:active {
  background-color: #f7dffd;
  color: #581dac;
  box-shadow: inset #d5b0e0d5 2px 2px 4px, inset #d0a4dfd5 -2px -2px 4px, #b183bfd5 -2px -2px 4px -2px, 0 0 10px #c294ce;
}

.difficulty__easy.light-mode,
.difficulty__medium.light-mode,
.difficulty__hard.light-mode {
  background-color: #dcbeee;
  border: 2px solid #7e4e9a;
}

.difficulty__easy.light-mode:hover,
.difficulty__medium.light-mode:hover, 
.difficulty__hard.light-mode:hover {
  background-color: #f8e2d6;
  box-shadow: 0 0 10px #9b7dad;
}

.difficulty__easy.light-mode:active,
.difficulty__medium.light-mode:active, 
.difficulty__hard.light-mode:active, 
.difficulty__easy.active.light-mode,
.difficulty__medium.active.light-mode, 
.difficulty__hard.active.light-mode {
  background-color: #f7dffd;
  color: #581dac;
  box-shadow: inset #d5b0e0d5 2px 2px 4px, inset #d0a4dfd5 -2px -2px 4px, #b183bfd5 -2px -2px 4px -2px, 0 0 10px #c294ce;
}

.info__clicks.light-mode,
.info__timer.light-mode,
.info__flags.light-mode {
  background-color: #f6dfd2;
  background: #f6dfd2 radial-gradient(circle at 0 0, #f6d1bdca, #d3b09dcc);
  box-shadow: inset #9a6a9dde 2px 2px 4px, inset #987ca4dc -2px -2px 4px, #e3b9e7de -2px -2px 4px -2px;
}

.game__field-container.light-mode {
  background-color: #7b508b;
  border: 2px solid #7b508b;
  box-shadow: 0 0 10px #9a74b1;
}

.game__field.light-mode .cell {
  background-color: #794c92;
  border: 1px solid #2b0a3f;
}

.game__field.light-mode .cell:hover {
  background-color: #f6dfd2d0;
}

.game__field.light-mode .cell:active {
  background-color: #f6dfd2;
  box-shadow: inset #d5b0e0d5 2px 2px 4px, inset #d0a4dfd5 -2px -2px 4px, #b183bfd5 -2px -2px 4px -2px, 0 0 10px #c294ce;
}

.game__field.light-mode .cell.opened {
  background: #dfc9bd radial-gradient(circle at 0 0, #ffffff37, #ffffff3b);
  box-shadow: inset #d5b0e0d5 2px 2px 4px, inset #d0a4dfd5 -2px -2px 4px, #b183bfd5 -2px -2px 4px -2px, 0 0 10px #c294ce;
}

.game__field.light-mode .cell.flag {
  background-color: #f3af8b;
}

.game__field.light-mode .cell.flag:active {
  background-color: #f3af8b;
}

.game__field.light-mode .cell.danger-1.opened {
  background-color: #5380e1b8;
}

.game__field.light-mode .cell.danger-2.opened {
  background-color: #42b697b5;
}

.game__field.light-mode .cell.danger-3.opened {
  background-color: #41c3449f;
}

.game__field.light-mode .cell.danger-4.opened {
  background-color: #c9b929ce;
}

.game__field.light-mode .cell.danger-5.opened {
  background-color: #df8b32cb;
}

.game__field.light-mode .cell.danger-6.opened {
  background-color: #d932d6ac;
}

.game__field.light-mode .cell.danger-7.opened {
  background-color: #c24479c5;
}

.game__field.light-mode .cell.danger-8.opened {
  background-color: #ba1414cd;
}

.game__field.light-mode .cell.mined.opened {
  background-color: #b30101c7;
  background-image: url('../assets/img/mine.png');
  background-repeat: no-repeat, repeat;
  background-size: 16px 16px;
}

.mines-quantity__slider.light-mode {
  background: #7e4e9a;
}

.mines-quantity__slider.light-mode:hover {
  background: #976eae;
  box-shadow: 0 0 8px #ce94d2;
}

.mines-quantity__slider.light-mode::-webkit-slider-thumb {
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px, 0 0 10px #ce94d2;
}

.mode.light-mode {
  border: 1px solid #794c92;
  background-color: #976eae;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px, 0 0 10px #ce94d2;
}

.mode.light-mode:hover {
  background-color: #daa78cd0;
  box-shadow: 0 0 8px #ce94d2;
}

.mode.light-mode:active {
  background-color: #794c92;
  box-shadow: 0 0 8px #c294ce;
  box-shadow: inset #d5b0e0d5 2px 2px 4px, inset #d0a4dfd5 -2px -2px 4px, #b183bfd5 -2px -2px 4px -2px, 0 0 10px #c294ce;
}

.score {
  width: 90px;
  height: 34px;
  background-color: #43478f;
  border: 2px solid #272a57;
  border-radius: 5px;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px, 0 0 10px #6061bd;
  font-size: 14px;
  text-align: center;
  line-height: 29px;
  transition: 0.4s;
}

.score:hover {
  cursor: pointer;
  background-color: #daa78cd0;
  box-shadow: 0 0 10px #6061bd;
}

.score:active {
  cursor: pointer;
  background-color: #9c9ed4;
  color: #1a1b54;
  box-shadow: inset #444775d5 2px 2px 4px, inset #7c7fc0d5 -2px -2px 4px, #444775d5 -2px -2px 4px -2px, 0 0 10px #6061bd;
}

.score.light-mode {
  background-color: #dcbeee;
  border: 2px solid #7e4e9a;
  box-shadow: inset #bcbcbc5c -3px -3px 8px, inset #dcdcdc3a 2px 2px 4px, #c8c8c85c 3px 3px 8px -3px, 0 0 10px #79548e;
}

.score.light-mode:hover {
  background-color: #f8e2d6;
  box-shadow: 0 0 10px #9b7dad;
}

.score.light-mode:active {
  background-color: #f7dffd;
  color: #581dac;
  box-shadow: inset #d5b0e0d5 2px 2px 4px, inset #d0a4dfd5 -2px -2px 4px, #b183bfd5 -2px -2px 4px -2px, 0 0 10px #c294ce;
}


.results-modal {
  display: none;
  position: fixed;
  z-index: 15;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9a89c6e7;
  border-radius: 6px;
}

.closeResults {
  width: 20px;
  height: 20px;
  background-image: url('../assets/svg/modal-icon.svg');
  background-repeat: no-repeat, repeat;
  background-size: 20px 20px;
  margin: 8px;
  float: right;
}

.closeResults:hover {
  cursor: pointer;
}

.results__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

.results-list {
  margin-left: 10px;
  list-style-position: inside;
}

.sound-btn {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat, repeat;
  background-size: 23px 23px;
  background-position: 5px 5px;
  background-image: url('../assets/img/sound.png');
  border: 1px solid #272a57;
  border-radius: 50%;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px, 0 0 10px #6061bd;
  transition: 0.3s;
}

.sound-btn:hover {
  cursor: pointer;
  background-color: #daa78cd0;
  box-shadow: 0 0 8px #6061bd;
  background-image: url('../assets/img/sound-muted.png');
}

.sound-btn:active, 
.sound-btn.muted {
  cursor: pointer;
  background-color: #9c9ed4;
  background-image: url('../assets/img/sound-muted.png');
  box-shadow: inset #444775d5 2px 2px 4px, inset #7c7fc0d5 -2px -2px 4px, #444775d5 -2px -2px 4px -2px, 0 0 10px #6061bd;
}

.sound-btn.light-mode {
  border: 1px solid #794c92;
  background-color: #976eae;
  box-shadow: inset #0000005c -3px -3px 8px, inset #dfdfdf3a 2px 2px 4px, #0000005c 3px 3px 8px -3px, 0 0 10px #ce94d2;
}

.sound-btn.light-mode:hover {
  background-color: #daa78cd0;
  box-shadow: 0 0 8px #ce94d2;
}

.sound-btn.light-mode:active, 
.sound-btn.muted.light-mode {
  background-color: #e7c6ef;
  box-shadow: inset #d5b0e0d5 2px 2px 4px, inset #d0a4dfd5 -2px -2px 4px, #b183bfd5 -2px -2px 4px -2px, 0 0 10px #c294ce;
}

@media (max-width: 600px) {
  .game-title {
    font-size: 28px;
  }

  .new-game,
  .score,
  .difficulty__easy,
  .difficulty__medium,
  .difficulty__hard {
    font-size: 13px;
  }

  .game__info {
    font-size: 14px;
  }
}
